/*
    Author: Ishkhan Terzian ID#001216827

    Date: November 25, 2021, 9:56:19 AM

    Description: Holds the styling when creating a new user in GameSpeak
*/
h1, h2 {
    text-align: center;
    color: rgb(194, 245, 11);
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('../images/ps.png');
    text-align: center;
}


label {
    display: block;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    color: rgb(194, 245, 11);
}

input {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    margin: auto;
    color: darkblue;
    border-radius: 10px;
    border-color: aquamarine;
    background-color: whitesmoke;
}

input[type=text] {
    text-align: center;
}

input[type=password] {
    text-align: center;
}

input[type=number] {
    text-align: center;
}

input[type=submit] {
    border-radius: 10px;
    border-color: bisque;
    background-color: antiquewhite;
}

#goBack a{
    display: block;

    color: red;
    font-size: 50px;
}